.jumbotron{
  font-size: size=200%;
  text-align:center;
}

.two{

}

.three{

}

.four{

}

.five{

}

.six{

}

#carouselExampleIndicators {
  width: 50%;
  margin: auto;
}
