body{
  font-family: 'Gloria Hallelujah', sans-serif;
}

.jumbotron{
  font-size:300%;
  text-align:center;
}

.two{
text-align: center;
}

.three{
 }

.four{

}

.five{

}

.six{

}



.dabbstore{
  text-align:center;
  font-size:300%;
  background-color:
}
#carouselExampleIndicators {
  width: 50%;
  margin: auto;
}


.background-dabbstore{
  background-color: #bec4ce;
}

.div{
  font-family: "Gloria Hallelujah"
}

.razerblade{
  text-align: center;
}

.omentwostyle{
  text-align: center;
}

.omenone{
  width: 40%
}

.omenthree{
  width:40%}

.fifteen{
  float: left;
  font-size: 75%;
  margin 10%
  }

.sixteen{
  font-size: 75%;
  float: right;
  }
