body {
  background-color:#ede8e8;
  font-family: 'Gloria Hallelujah', sans-serif;
}

.jumbotron{
  background-color: #ede8e8
}

div {
  font-family: 'Gloria Hallelujah', sans-serif;
}

#Intro-style {
  padding:5%;
  text-align: center;
  background-color: #c9c7c7;
  margin: 3%;
  color: red;
  font-family:'Gloria Hallelujah', sans-serif;
}

.one {
  float: left;
  width: 10%;
}

.two{
  float: right;
  width: 10%;
}

.three{
  text-align:center;
  font-family:'Gloria Hallelujah',
  sans-serif;
}

.four{
text-align:center;
background-color:#c9c7c7;
border-style: solid;
border-width: 20px;
border-color: white;
}

.five{
width: 50%;
float:left;
background-color:#c9c7c7;
}

.six{
font-family: 'Gloria Hallelujah';
text-align: center;
}

.seven{
text-align: center;
font-size: 200%;
}

.eight{
width:50%;
float:left;
background-color:#c9c7c7;
}

.nine{
font-family: 'Gloria Hallelujah';
text align: center
}

.ten{
text-align: center;
font-size: 200%
}

.eleven{
text-align: center
}

.twelve{
padding:5%;
text-align: center;
font-family:'Gloria Hallelujah', sans-serif;
background-color: #c9c7c7;
margin: 3%;
color: #c9c7c7
}

.thirteen{

}

.fourteen{
font-family: 'Gloria Hallelujah';
 font-size: 50%;
}

.fifteen{
float: left;
 font-size: 75%;
 margin 10%
}

.sixteen{
font-size: 75%;
float: right;
}

.seventeen{
width: 5%; text-align: center
}
.eighteen{
width:45%;
}

.margin{
text-align: center;
}
#carouselExampleIndicators {
  width: 50%;
  margin: auto;
}

.Featured{
  Text-align: center;
  font-size: 150%;
}
