body { background-color:#ede8e8;
}


h1 { text-shadow:3px, 2px #666666;
}

div { font-family: 'Gloria Hallelujah', sans-serif;
}

#Intro-style {"padding:5%; text-align: center; background-color: #c9c7c7; margin: 3%">Stuff!!<span style="color: red; font-family:'Gloria Hallelujah', sans-serif;"
}
